App_WebReferences/com/ideone/Ideone_Service_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ideone.com/api/1/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Ideone_Service_v1" targetNamespace="http://ideone.com/api/1/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ideone.com/api/1/service" />
  </wsdl:types>
  <wsdl:message name="createSubmissionIn">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="sourceCode" type="xsd:string" />
    <wsdl:part name="language" type="xsd:int" />
    <wsdl:part name="input" type="xsd:string" />
    <wsdl:part name="run" type="xsd:boolean" />
    <wsdl:part name="private" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="createSubmissionOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getSubmissionStatusIn">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="link" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSubmissionStatusOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getSubmissionDetailsIn">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="link" type="xsd:string" />
    <wsdl:part name="withSource" type="xsd:boolean" />
    <wsdl:part name="withInput" type="xsd:boolean" />
    <wsdl:part name="withOutput" type="xsd:boolean" />
    <wsdl:part name="withStderr" type="xsd:boolean" />
    <wsdl:part name="withCmpinfo" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getSubmissionDetailsOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getLanguagesIn">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLanguagesOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="testFunctionIn">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="testFunctionOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:portType name="Ideone_Service_v1Port">
    <wsdl:operation name="createSubmission">
      <documentation>Creates a new submission.</documentation>
      <wsdl:input message="tns:createSubmissionIn" />
      <wsdl:output message="tns:createSubmissionOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubmissionStatus">
      <documentation>Returns status and result of a submission in an associative array.</documentation>
      <wsdl:input message="tns:getSubmissionStatusIn" />
      <wsdl:output message="tns:getSubmissionStatusOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubmissionDetails">
      <documentation>Returns information about the submission in an associative array.</documentation>
      <wsdl:input message="tns:getSubmissionDetailsIn" />
      <wsdl:output message="tns:getSubmissionDetailsOut" />
    </wsdl:operation>
    <wsdl:operation name="getLanguages">
      <documentation>Returns list of supported languages.</documentation>
      <wsdl:input message="tns:getLanguagesIn" />
      <wsdl:output message="tns:getLanguagesOut" />
    </wsdl:operation>
    <wsdl:operation name="testFunction">
      <documentation>This is a test function. If you can call it successfully, 
then you will also be able to call the other functions.</documentation>
      <wsdl:input message="tns:testFunctionIn" />
      <wsdl:output message="tns:testFunctionOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Ideone_Service_v1Binding" type="tns:Ideone_Service_v1Port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="createSubmission">
      <soap:operation soapAction="http://ideone.com/api/1/service#createSubmission" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubmissionStatus">
      <soap:operation soapAction="http://ideone.com/api/1/service#getSubmissionStatus" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubmissionDetails">
      <soap:operation soapAction="http://ideone.com/api/1/service#getSubmissionDetails" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLanguages">
      <soap:operation soapAction="http://ideone.com/api/1/service#getLanguages" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testFunction">
      <soap:operation soapAction="http://ideone.com/api/1/service#testFunction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://ideone.com/api/1/service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ideone_Service_v1Service">
    <wsdl:port name="Ideone_Service_v1Port" binding="tns:Ideone_Service_v1Binding">
      <soap:address location="http://ideone.com/api/1/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>